.product-card{
    width: 500px;
    height: auto;
    padding: 15px;
    margin: 50px 50px 60px;
    border: 2px solid black;
    display: inline-block;
}


.product-card img{
    width: 100%;
}

button{
    background-color: #7fb8d2;
    height: 30px;
    border-radius: 10px;
}

