/*
.container{
    display: flex;
    justify-content: center;
    gap: 15px;
}

.container div{
    height: 450px;
    width: 450px;
    border: 3px solid black;
}

.container img{
    width: 100%;
    height: 100%;
}

.background-red{
    background-color: red;
}

.background-blue{
    background-color: blue;
}

.background-purple{
    background-color: purple;
}*/


.notification{
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.info-notification{
    color: #055160;
    background-color: #cff4fc;
}

.error-notification{
    color: #842029;
    background-color: #f8d7da;
}

.success-notification{
    color: #0f5132;
    background-color: #d1e7dd;
}
